.text {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  pointer-events: none;
}

.text > * {
  padding-left: 50px;
  font-size: 4rem;
  margin: 0 8px;
}

.text > h2 {
  font-weight: 100;
}

.text > h1 {
  font-weight: 500;
}
